[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/VulkanMemoryAllocator"]
	path = vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "vendor/tinygltf"]
	path = vendor/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/andre-neder/imgui.git
[submodule "vendor/TriangleMeshDistance"]
	path = vendor/TriangleMeshDistance
	url = https://github.com/andre-neder/TriangleMeshDistance.git
[submodule "vendor/shaderc"]
	path = vendor/shaderc
	url = https://github.com/andre-neder/shaderc
[submodule "vendor/meshoptimizer"]
	path = vendor/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
